body{
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
}
.heading{
    width: 100%;
    font-size: 25px;
    margin: 0;
}
.btn-info{
    width: 100px;
    height: 50px;
    font-size: 18px;
}